<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KHHealthCareProj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E9B48E01C81A3C30067B403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E9B48FC1C81A3C30067B403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E9B49071C81A3C30067B403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
